body {
    background:rgb(145, 117, 117);
    margin-left: 200px;
    margin-right: 200px;

}
h1,h2{ color: yellowgreen;
    font-family: fantasy;
    font-size: 18px;
    font-family: Arial,He;
}
img{ 
    margin-bottom: 20px;

}
.img_padrao{
   margin-bottom: 20px; 
   width: 300px;
}
.logo{
    margin-bottom:2px ;
    width: 30px;
}
footer{
     margin-bottom: 30px;
}